/* Mobile Styles First */

:root{
/* primary */

--soft-red: hsl(7, 99%, 70%);
--yellow: hsl(51, 100%, 49%);
/* graphic design text */
--dark-desaturated-cyan: hsl(167, 40%, 24%);
/* photography text */
--dark-blue: hsl(198, 62%, 26%);
/* footer */
--dark-moderate-cyan : hsl(168, 34%, 41%);

 /* Neutral */

--very-dark-desaturated-blue: hsl(212, 27%, 19%);
--very-dark-grayish-blue: hsl(213, 9%, 39%);
--dark-grayish-blue: hsl(232, 10%, 55%);
--grayish-blue: hsl(210, 4%, 67%);

/* fonts */
font-size: 18px;
--body-font: 'Barlow', sans-serif;
--primary-font: 'Fraunces', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    font-weight: 500;
}

/* attribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

i{
    cursor: pointer;
}

a{
    color: #000;
    text-decoration: none;
}

h1,h2,h3{
    font-family: var(--primary-font);
}

/* Header */
#header{
    height: 100vh;
    background-image: url("/assets/images/mobile/image-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 1rem;
    display: relative;
}

/* nav */
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    position: relative;
    display: inline-block;
}

.menu > i{
    font-size: 24px;
}

.menu > i:hover +.nav__links{
    display: flex;
}

.nav__links{
    display: none;
    margin-top: .5rem;
    position: absolute;
    right: 0;
    width: 100%;
    background-color: #fff;
    min-width: calc(100vw - 36px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.nav__links li>a{
    color: var(--dark-grayish-blue);
}

.nav__links li{
    margin: .5rem 0;
}

#contact-btn{
    background-color: var(--yellow);
    padding: .4rem 1rem;
    border-radius: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

#contact-btn > a{
    color: #000;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header-content .title{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.arrow-down{
    width: 1.8rem;
    animation: arrow-down-anim 2s ease-out 1.5s 1 alternate;
}

/* main content*/
#about > img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#about article{
    /* background-color: var(--grayish-blue); */
    color: var(--dark-grayish-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    text-align: center;
    height: 440px;
}

#about article > h1, #about article > a{
    color: var(--very-dark-desaturated-blue);
}

#about article > h1{
    font-size: 2rem;
}


#about article > p{
    margin: 1.5rem 0;
}

.learn-more{
    font-size: .85rem;
    font-weight: 700;
    font-family: var(--primary-font);
    text-transform: uppercase;
    position: relative;
}

.learn-more::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    height: 5px;
    width: 110%;
    background-color: var(--yellow);
    opacity: .5;
    border-radius: 2.5px;
}

#graphic-design{
    position: relative;
    background-color: #9edccd;
    min-height: 600px;
    width: 100%;
    background-size: cover;
    background-image: url('/assets/images/mobile/image-graphic-design.jpg');
    color: var(--dark-desaturated-cyan);
}

#graphic-design > div{
    color: var(--dark-desaturated-cyan);
}

article > .content{
    position: absolute;
    bottom: 3rem;
}

#photography{
    position: relative;
    background-color: #63cdff;
    min-height: 600px;
    width: 100%;
    background-size: cover;
    background-image: url('/assets/images/mobile/image-photography.jpg');
}

#photography > div{
    color: var(--dark-blue);
}

article > .content > p{
    margin: 1rem 0;
}



/* Animations */
@keyframes arrow-down-anim{
    0%{
        opacity: 1;
    }
    40%{
        opacity: 1;
        transform: translateY(0px);
    }
    100%{
        opacity: 0;
        transform: translateY(40px);
    }
}